<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="WeatherMainView">
		<plugin name="Dabilo_MiniWindow_Plugin_Frontend_WeatherMainView" type="Dabilo\MiniWindow\Plugin\Frontend\WeatherMainView" sortOrder="10" disabled="false"/>
	</type>
	<type name="CurencyMainView">
		<plugin name="Dabilo_MiniWindow_Plugin_Frontend_CurencyMainView" type="Dabilo\MiniWindow\Plugin\Frontend\CurencyMainView" sortOrder="10" disabled="false"/>
	</type>
	<type name="NewsMainView">
		<plugin name="Dabilo_MiniWindow_Plugin_Frontend_NewsMainView" type="Dabilo\MiniWindow\Plugin\Frontend\NewsMainView" sortOrder="10" disabled="false"/>
	</type>
</config>
